/__pycache__
/results/baseline

/cifar10/checkpoint/baseline.pth
/cifar10/checkpoint/gsp_block.pth
/cifar10/checkpoint/gsp_finetune.pth
/cifar10/checkpoint/gsp_gates.pth
/cifar10/checkpoint/gsp_gates_in*
/cifar10/checkpoint/gsp_gates_ft*
/cifar10/checkpoint/gate_finetune_*
/cifar10/checkpoint/gates_*

/resnet_cifar10/data
/resnet_cifar10/pretrained_models
/resnet_cifar10/results
/resnet_cifar10/save_resnet20



/utils_gsp/matrices


/results

/data
/runs

# /resnet_cifar10

main_dali.py
main_model.py


*.dat
*.pdf
*.log

# *.pth

*.pyc
*.mat
*.txt
*.out
*.err
*.sh
*.pt
*.gz
*.pkl
*.tar
*.meta
*.html
*.png
# *.ipynb
*.pickle
*.yml
*.ipynb_checkpoints
*.eps