/__pycache__
/results/baseline

/checkpoint/baseline.pth
/checkpoint/gsp_block.pth
/checkpoint/gsp_finetune.pth
/checkpoint/gsp_gates.pth
/checkpoint/gsp_gates_in*
/checkpoint/gsp_gates_ft*
/checkpoint/gate_finetune_*
/checkpoint/gates_*



/utils_gsp/matrices


/results

/data
/runs

# /resnet_cifar10

main_dali.py
main_model.py


*.dat
*.pdf
*.log

# *.pth

*.pyc
*.mat
*.txt
*.out
*.err
*.sh
*.pt
*.gz
*.pkl
*.tar
*.meta
*.html
*.png
# *.ipynb
*.pickle
*.yml
*.ipynb_checkpoints
*.eps