/__pycache__
/results/baseline

main_dali.py
main_model.py


*.dat
*.pdf
*.log

# *.pth

*.pyc
*.mat
*.txt
*.out
*.err
*.sh
*.pt
*.gz
*.pkl
*.tar
*.meta
*.html
*.png
# *.ipynb
*.pickle
*.yml
*.ipynb_checkpoints
*.eps