/__pycache__
/checkpoint/baseline.pth
/checkpoint/gsp_block.pth
/checkpoint/gsp_finetune.pth
/checkpoint/gsp_gates.pth

/results

/data
/runs


main_dali.py
main_model.py


*.dat
*.pdf
*.log

# *.pth

*.pyc
*.mat
*.txt
*.out
*.err
*.sh
*.pt
*.gz
*.pkl
*.tar
*.meta
*.html
*.png
# *.ipynb
*.pickle
*.yml
*.ipynb_checkpoints
*.eps